# Dépendances
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Cache
.vite/
.cache/

# Logs
*.log

# Environnement
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# Brouillons
Brouillon.md
Git-Pratique.md

# Fichiers sensibles
/backend/config/config.php
/backend/vendor/